@import "./bootstrapVariable.scss" ; 
@import "~bootstrap/scss/bootstrap" ;
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss" ;
@import "~rfs/scss" ;
 
 $bg-color: rgb(250, 255, 255);
 
 body {
     background: $bg-color;
     background-image: url(../images/background.png);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
 };

 i.fas,
 i.fab {
   border: 1px solid black;
   width: 100px;
   height: 100px;
 }

 
.nav-link{
  text-decoration-color: black;
}

.logo{
  margin-right: 10%;
  margin-left: 5%;
}


@media (min-width: 1000px) {
  .navbar {
    font-size: 1rem;
  }
 
}