@import "./bootstrapVariable.scss" ; 
@import "~bootstrap/scss/bootstrap" ;
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss" ;
@import "~rfs/scss" ;
 
 $bg-color: rgb(250, 255, 255);
 
 body {
     background: $bg-color;
     background-image: url(../images/background.png);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
 };

 .appStoreImages{
   width: 0;
 }
 i.fas,
 i.fab {
   border: 1px solid black;
   width: 100px;
   height: 100px;
 }
 .navbar{
   font-size: calc(0.2rem + 1vw);
 }
.navbarResponsive{
  display: none;
}
 
.nav-link{
  text-decoration-color: black;
}

.logo{
  margin-right: 10%;
  margin-left: 5%;
}
.sidePanadel{
  width: 100px;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

@media (min-width: 1000px) {
  .navbar {
    font-size: 1rem;
  }
 
}