 @import "~bootstrap/scss/bootstrap" ;
 
 $bg-color: #F8F9FA;

 body {
     background: $bg-color;
     background-image: url(../images/background.png);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
 }